h1 {
    color: rgba(255, 0, 0, 1);
}

h2 {
    color: rgba(255, 165, 0, 1);
}

h3 {
    color: rgba(255, 255, 0, 1);
}

h4 {
    color: rgba(0, 255, 0, 1);
}

h5 {
    color: rgba(0, 0, 255, 1);
}

h6 {
    color: rgba(75, 0, 130, 1);
}

p {
    color: #6a5acd;
}